# Use the latest 2.1 version of CircleCI pipeline process engine.
version: 2.1

jobs:
  build:
    docker:
      - image: circleci/node:13.8.0
    # Add steps to the job
    steps:
      - checkout
      - run:
          name: "install node_module"
          command: npm install
      - save_cache:
        - key: node_module_cache
        - path: node_module
      - run:
          name: run lint
          command: npm run lint
  test:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - run:
          name: "Test"
          command: "echo test step!"
  analyze:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: "Analyze"
          command: "echo analyze step"

workflows:
  say-hello-workflow:
    jobs:
      - build
      - test:
          requires:
            - build
      - analyze:
          requires:
            - test
